---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
      <div class="container">
    <ul class="nombres">
          {%- for _page in _pages -%}
            {%- assign _title = _page.title | default: _page.layout -%}
            {%- assign _slug = _title | slugify -%}
            {%- assign _icon = _page.icon | default: 'fa-caret-right' -%}
              <li><a href="{{- _page.url | absolute_url -}}" id="{{- _slug -}}-link">
                <span>{{- _title -}}</span>
              </a></li>
          {%- endfor -%}
    </ul>

      

      </div>
	</article>
</div>
